@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dancing Script", cursive;
}

#main-page {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background: #f2f9f1;
  position: relative;
  flex-wrap: wrap;
}

nav {
  background-color: #5c715e;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 70px;
}

.navbar li {
  display: inline-block;
  width: 130px;
  height: 100%;
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
}

a {
  color: black;
}
a:hover {
  color: black;
  background-color: #f2f9f1;
}
ul {
  text-align: center;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  border-radius: 25px;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #ddeedf;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #b6cdbd;
  color: #ddeedf;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  text-align: center;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  text-align: center;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #b6cdbd;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}

::selection {
  background: #b6cdbd;
  color: #fff;
}

.container {
  /* margin: 20px 0 10px 0; */
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}

.container .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}

#two:checked ~ .main-card {
  margin-left: -100%;
}

.container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.main-card .cards .card:hover {
  /* card movement once hovered over */
  transform: translateY(-15px);
}

.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #b6cdbd;
  margin-bottom: 14px;
}

.card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}

.card .content .name {
  font-size: 20px;
  font-weight: 500;
}

.card .content .job {
  font-size: 20px;
  color: #b6cdbd;
}

.card .content .media-icons {
  margin-top: 10px;
  display: flex;
}

.media-icons a {
  /* button look */
  text-align: center;
  line-height: 55px;
  height: 60px;
  width: 60px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #b6cdbd;
  transition: all 0.3s ease;
}

.media-icons a:hover {
  color: #b6cdbd;
  background-color: #fff;
  border-color: #b6cdbd;
}

.container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button label {
  /* bottom button */
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #5c715e;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button label.active {
  width: 35px;
}

#one:checked ~ .button .one {
  width: 35px;
}

#one:checked ~ .button .two {
  width: 15px;
}

#two:checked ~ .button .one {
  width: 15px;
}

#two:checked ~ .button .two {
  width: 35px;
}

input[type="radio"] {
  display: none;
}

@media (max-width: 768px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 600px) {
  .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

.footer {
  padding: 40px 0;
  background-color: #5c715e;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: black;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .footer .social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer .social a {
  justify-content: space-evenly;
  font-size: 24px;
  color: inherit;
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  border-radius: 50%;
  margin: 25px;
  opacity: 0.75;
}

.footer .social a {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 1px;
}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: black;
}

/*form container  */
.page-container {
  /* background-color: red; */
  margin-top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.form-box {
  width: 600px;
  /* height: 600px; */
  background-color: #b6cdbd;
  padding: 30px;
  border-radius: 10px;
}
.input-row {
  position: relative;
  margin-bottom: 13px;
}

.form-box input:not([type="submit"], [type="checkbox"]),
.form-box textarea,
.form-box select {
  width: 100%;
  margin: 0 0 3px;
  padding: 10px 15px;
  font-size: 20px;
  color: gray;
  border-radius: 5px;
  border: 1px solid transparent;
}
.form-box textarea {
  height: 70px;
}

.form-box input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
}
.check_label {
  padding-left: 25px;
}
.form-box input[type="submit"] {
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #5c715e;
}
.form-box input[type="submit"]:hover {
  background-color: #303330;
}
.error {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: red;
  display: none;
}

@media screen and (max-width: 480px) {
  .form-box {
    width: 300px;
  }
  .form-box input:not([type="submit"], [type="checkbox"]),
  .form-box textarea,
  .form-box select {
    font-size: 15px;
  }
  .check_label {
    margin-top: -5px;
  }
}

.info {
  text-align: center;
  font-family: "AlexBrush-Regular";
  font-style: normal;
  font-variant: normal;
  text-align: center;
  margin-left: 20px;
  font-size: 15px;
  color: rgb(90, 140, 107);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#h1,
h2 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(134, 165, 152);
  padding: 30px 0;
}
.ac-container {
  /*chenge of height*/
  height: 770px;
  max-width: 560px;
  background: transparent url("/assets/women_in_the_desert.jpg") no-repeat
    center center;
}

.ac-container label {
  height: 30px !important;
  line-height: 21px !important;
  font-size: 18px !important;
  font-family: "Open Sans", "Arial Narrow", Arial, sans-serif !important;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: rgb(49, 58, 57);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: rgb(158, 181, 175);
  background: -moz-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(1%, #fff),
    color-stop(100%, #eaeaea)
  );
  background: -webkit-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -o-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: -ms-linear-gradient(top, #fff 1%, #eaeaea 100%);
  background: linear-gradient(top, #fff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff',endColorstr='#eaeaea',GradientType=0 );
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3),
    1px 0 0 rgba(255, 255, 255, 0.9) inset, 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  height: 30px;
  line-height: 20px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
}

.ac-container label:hover {
  background: rgb(217, 239, 165);
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #f1f2f3;
  color: #666;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 21px;
  font-size: 12px;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after {
  background-image: url(../images/arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article p {
  text-align: center;
  margin-top: 180px;
  font-style: normal;
  color: rgb(86, 84, 84);
  line-height: 23px;
  font-size: 40px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  font: normal normal 13px "Open Sans";
}

.ac-container input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0 0 0 1px rgba(155, 155, 155, 0.3);
}

.ac-container input:checked ~ article.ac-small {
  height: 620px;
}

.ac-container input:checked ~ article.ac-medium {
  height: 640px;
}

.ac-container input:checked ~ article.ac-large {
  height: 620px;
}
/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

#goodTips {
  color: #324960;
  margin-top: -20px;
}

#h2 {
  font-weight: bolder;
  text-align: center;
  font-family: "AlexBrush-Regular";
  margin-top: 10px;
}

.elementToFadeInAndOut {
  opacity: 1;
  animation: fade 2s linear;
  text-align: center;
  font-family: "AlexBrush-Regular";
  line-height: 25px;
  font-size: large;
  color: rgb(90, 140, 107);
  margin-top: -50px;
  padding-bottom: 10px;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
